body{
    
    background:#E3DEDC;
    margin:0;
    padding:0;
}

nav{
    position:fixed;
}

header{
    width:100%;
    height:400px;
    background:#03032E;
    margin: 0;
    
}

main{
    background-color: aliceblue;
    width:100%;
    height:auto;
}

.campus-web{
    display:flex;
    flex:1;
    height:100%;
    width:100%;
}

ul{
    display:flex;
    list-style-type: none;
    justify-content: flex-end;
    flex-direction: row;
    flex:1;
    color:azure;
    padding:25px;
    gap:10px;
    font-weight: 500;

}

#brand{
    margin-right:auto;
    font-size:2.0rem;
    font-weight: 800;
}

#campus-intro{
    display: flex;
    justify-content: center;
    flex:1;
    gap:50px;
    
}

.para1{
    color: azure;
}

#campus-btn{
    width: 50px;
    height: 30px;
    background-color:#0CA2EB ;
    border:none;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}

img{
    width: 300px;
    height: 150px;
    border: 4px solid antiquewhite;
    border-radius: 15px;
}

.campus-section{
    width: 100%;
    height: 200px;
    color: antiquewhite;
}

#campus-resources{
    background-color: rgb(107, 179, 212);
    padding: 30px;
    width:95%;
   
    
}

#campus-resources > h2{
    text-align: center;
    font-size: large;
    font-weight: 800;
    padding-top: 10px ;
}

.campus-contents{
    display:flex;
    flex: 1;
    justify-content: center;
    gap:10px;
}

.campus-course{
    border: 3px solid black;
    padding: 10px;
    border-radius: 5px;

}

#campus-motivation{
    background-color: rgb(248, 237, 174);
    color:#0d1a63
}

.quote-align{
    margin: 0 auto;
    padding: 50px;
}

.campus-credit{
    text-align: right;
    font-weight: bold;
}

#campus-signup{
    background-color: antiquewhite;
    width:93%;
    height: 250px;
    padding: 40px 70px;
}

.campus-action-btn{
    background-color: #1551d1;
    width:80%;
    height: 100px;
    border-radius: 10px;
    display :flex;
    justify-content: center;
    gap: 30px;
    box-sizing: border-box;
    padding: 20px 40px;
    flex: 1;
    
}

.sign-up > p{
    line-height: 1.0;
}

.campus-register{
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 2px !important;
}

#campus-action{
    border: 2px solid antiquewhite;
    padding: 5px 15px;
    background-color: #1551d1;
    color: antiquewhite;
    border-radius: 10px;

}





footer{
    background-color: #0d1a63;
   
}

.copyright{
    text-align: center;
    font-weight: 900;
    padding: 30px 150px;
    color: antiquewhite;
     margin-bottom: 0;

}




